@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Play:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-white: #FFFFFF;
    --clr-black: #202020;
    --clr-blue: #6C63FF;
    --clr-blue-2: #4c46b6;
}

body {
    margin: 0;
    font-family: "Play";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}